.about-section {
    background-color: #446a87;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 80px;
}
h1.about-head {
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-size: 60px;
    color: #ecf791;

}

.photo {
    max-width: 360px;
    min-width: 250px;
    width: 100%;
    border-radius: 10px;
}

.about-text {
    color: white;
}
.column1 {
    padding: 20px;
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.column2 {
    padding: 20px;
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-head {
    min-width: 300px;
    text-align: start;
}

.about-text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
}

.about-button {
    display: flex;
    align-items: center;
}

.about_btn {
    font-size: 25px;
    font-weight: 700;
    color: #ecf791;
    background-color: #00b796;
    padding: 30px;
    border-radius: 10px;
}

button:hover {
    color: #446a87;
    background-color: #ecf791;
}