.emblem {
    width: 200px;
}

.navigation {
    background-color: #00b796;
    display: flexbox;
    flex-direction: row;
}

li.nav__items {
    color: #ecf791;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    align-items: center;
}

.home_content {
    padding: 125px;
    display: grid;
    
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    grid-template-areas:
        "welcome welcome home home"
        "welcome welcome home home"
        "intro intro intro block1"
        "specialty specialty specialty block2"
        "location location block3 block4";
    width: 100%;
}

.welcome {
    font-size: 18px;
    grid-area: welcome;
    padding: 100px 30px 0 30px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #ecf791;
    background-color: #446a87;
}

.home {
    max-width: 300px;
    grid-area: home;
}

.intro {
    grid-area: intro;
    padding-top: 50px;
    color: #ecf791;
    background-color: #f78076;
}

.specialties {
    grid-area: specialty;
}

.location {
    grid-area: location;
    color: #ecf791;
    background-color: #00b796;
}


